@font-face {
    font-family: Codec;
    src: url(Codec.ttf) ;
}
*{
    box-sizing: border-box;
    font-family: Codec;
}
h1 {
  font-size: 2.5em;
  color: white;
  margin-top:-20px;
}

body{
    margin: 0;
    overflow: hidden;
    justify-content: center;
}

.btn {
    font-size: 1.6em;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    background: linear-gradient(to right, #9340FF, #0CC0DF);
    cursor: pointer;
}

.container{
    max-width: 1920px;
    margin: auto;
}

header {
    background: none;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight:bold;
    font-size: 30px;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

header a:hover{
    color: #9340FF;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
}
/*aqui empieza el CSS del Slider*/
img{
  max-width: 100%;
  height: auto;
}
.slider-container{
  position: absolute;
  bottom: 30%;
  left: 50%;
  right: 10%;
  z-index: -1;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  transform: translateX(-50%);
}
.slide {
  display: flex;
  transform: translate3d(0,0,0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 55s; /* Changed from 20s */
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.item-slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  overflow: hidden;
  animation-delay: 0s; /* Added */
}
.item-slide:nth-child(2) {
  animation-delay: calc(5s * 1); /* Added */
}
.item-slide:nth-child(3) {
  animation-delay: calc(5s * 2); /* Added */
}
.item-slide:nth-child(4) {
  animation-delay: calc(5s * 3); /* Added */
}
.item-slide:nth-child(5) {
  animation-delay: calc(5s * 4); /* Added */
}
.item-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}
@keyframes autoplay {
  0% {
    transform: translate3d(calc(-100%*0), 0, 0);
  }
  9.09% {
    transform: translate3d(calc(-100%*0), 0, 0);
  }
  18.18% {
    transform: translate3d(calc(-100%*1), 0, 0);
  }
  27.27% {
    transform: translate3d(calc(-100%*2), 0, 0);
  }
  36.36% {
    transform: translate3d(calc(-100%*3), 0, 0);
  }
  45.45% {
    transform: translate3d(calc(-100%*4), 0, 0);
  }
  54.54% {
    transform: translate3d(calc(-100%*5), 0, 0);
  }
  63.63% {
    transform: translate3d(calc(-100%*6), 0, 0);
  }
  72.72% {
    transform: translate3d(calc(-100%*7), 0, 0);
  }
  81.81% {
    transform: translate3d(calc(-100%*8), 0, 0);
  }
  90.9% {
    transform: translate3d(calc(-100%*9), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100%*10), 0, 0);
  }
}
/*aqui empieza el CSS del wave animation */
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/ola.png);
    background-size: 1000px 100px;
  }

  section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom:0;
  }

  section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom:10px;
  }

  section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }

  section .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }

  @keyframes animate{
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 1000px;
    }
  }

  @keyframes animate2{
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: -1000px;
    }
  }

/*aqui empieza el responsive */

@media(min-width:720px ) {
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-right: 10px;
    }
    h1{
      font-size: 3.5em;
        position: absolute;
        top: 25%;
        width:98%;
        text-align: initial;
        padding: 0px 30px;
        color:black;
    }
    .btn{
        position: absolute;
        top: 70%;
        left: 5%;
    }

    /*-------Slider-------*/
    .slider-container{
      width: 500px;
      height: 500px;
      left: 75%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: -25px 20px 100px rgba(38, 14, 105, 0.25), -25px 20px 100px rgba(31, 65, 105, 0.25);
      
    }
    .slider-container .item-slide img {
      filter: none;
    }
}