@font-face {
    font-family: Codec;
    src: url(Codec.ttf) ;
}
*{
    box-sizing: border-box;  
}

p{font-size: 1.25em;}
h2{font-size: 2.7em;}

body {
    margin:0;
}
.containerh{
    max-width: 1800px;
    margin: auto;
}
header{
    background: linear-gradient(to right, #9340FF, #0CC0DF);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.7em;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 35vh;

}
/*-------Burger Menu--------*/
.burger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;

}
.burger .bar, .burger:after, .burger:before {
    content:'';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 4px;
}

.burger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  
  .burger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
.burger.is-active .bar {
    opacity: 0;
}
.mobile-nav{
    position: fixed;
    top:0;
    left:100%;
    width: 100%;
    min-width: 100vh;
    display: block;
    z-index: 98;
    background-color: #9340FF;
    padding-top: 120px;
    transition: 0.4s;
}
.mobile-nav a{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 6px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: rgba(0, 255, 255, 0.5);

    color: white;
    text-decoration: none;
}
.mobile-nav a:hover{
    background-color: #707070;
}
/*------------------SLIDER------------------*/

.container-slider img{
    max-width: 100%;
}

.container-slider{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 1s;
    animation-name: autoplay;
    animation-duration: 18s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide:nth-of-type(2){
    animation-duration: 23s;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    border-radius: 9px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: white;

}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100%*1),0,0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: white;
    
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100%*2),0,0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: white;
    
}

@keyframes autoplay{
    0%{
        transform: translate3d(calc(-100%*0),0,0);
    }
    33%{
        transform: translate3d(calc(-100%*0),0,0);
    }
    39%{
        transform: translate3d(calc(-100%*1),0,0);
    }
    72%{
        transform: translate3d(calc(-100%*1),0,0);
    }
    78%{
        transform: translate3d(calc(-100%*2),0,0);
    }
    100%{
        transform: translate3d(calc(-100%*2),0,0);
    }
}
/*------------------Producto Destacado------------------*/
.seleccion {
    transition: 0.5s ease;
    opacity: 1;
    width: 80%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.info img {
    display: block;
    margin-right: 20px;
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.info {
    flex: 1;
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: flex-start;
}

.info h2 {
    font-size: 24px;
    color: #707070;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

.info p {
    font-size: 16px;
    color: #707070;
    margin-bottom: 20px;
    text-align: left;
}

.info .precio {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.info .fila button {
    height: 40px;
    border: none;
    padding: 0 20px;
    color: #fff;
    background: linear-gradient(to right, #9340FF, #0CC0DF);
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    align-self: flex-start;
}
/*------------------Mostrador------------------*/
