*{
    font-family: Questrial;
}
.bg-nav{
    background: linear-gradient(to right, #9340FF, #0CC0DF);
}
.navbar-brand,
.nav-link {
    color: white !important;
}
.navbar{
    border: none;
}
.carousel-space {
    margin-bottom: 20px;
}
.row.g-4 {
    margin-bottom: 20px;
}
.Tcate {
    text-align: left;
    margin-left: 5%;
}
.square-btn{
    font-size: 18px;
    padding: 66px 70px ;
    border-radius: 5px;
}
.btn-color{
    background-color:#C8C8C8;
}
.btn:hover{
    background-color:#a6a6a6;
}
.btn-container{
    text-align: center;
    margin-bottom: 10px;
}
.btn {
    color: white !important;
}
.categorias{
    margin-bottom: 20;
}
/* Estilos para el carrusel para movil */
@media (max-width: 767px) {
.carousel-item img {
    max-height: 300px;
        }
}

  /* Estilos para el carrusel para pc */
@media (min-width: 768px) {
.carousel-item img {
    max-height: 500px; 
        }
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 50px;
}

/*----Animacion Boton Navbar---*/
.navbar-toggler{
    border: 0;
}

.navbar-toggler:focus,
.navbar-brand:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: rgb(155, 155, 155);
    display: block;
    transition: all 0.2s;
    border-radius: 15px;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 15% 15%;
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon{
    background-color: white;
}